@charset "utf-8";
/* main.css */
.hide{
    display: block;
    text-indent: -9999px;
}

#wrap{
    width: 100%;
}

/* 모바일 최상단 */
#topBn{
    overflow: hidden;
}
.topBnIn{
    position: relative;
    margin: 0 auto;
}
.tbImg img{
    width: 100%;
    min-height: 340px;
    object-fit: cover;
}
.tbImg .pc{
    display: none;
}
.tbClose{
    position: absolute;
    bottom: 0;
    right: 1%;
    display: flex;
    align-items: center;
}
.tbClose p{
    margin-left: 10px;
    font-size: 50px;
    line-height: 0.8em;
    cursor: pointer;
}
#nomore{
    margin-top: 5px;
}
/* 모바일 헤더 */
#header{
    position: relative;
    height: 90px;
}
.head1{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 20px 0 20px;
}
.h1_right{
    display: flex;
    align-items: flex-start;
}
.gnb, .member, .subgnb{
    display: none;
}
.h_logo a{
    display: block;
    width: 171px;
    height: 48px;
    text-indent: -9999px;
    background-image: url(../img/h_logo.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.head1_right{
    display: flex;
}
.allMenu{
    margin-left: 10px;
}
.allMenu p{
    font-size: 24px;
}
/* 모바일 사이드 메뉴 시작 */
#mo_side{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: rgba(2, 2, 2, 0.5);
}
.mo_side_in{
    position: relative;
    padding: 0 20px;
    background-color: #fff;
}
/* 모바일 사이드 메뉴 언어선택 */
.mo_side_row1{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.mo_side_lang{
    margin-bottom: 30px;
}
.mo_side_lang .lang{
    display: inline-block;
    padding: 10px 6px 8px 0;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    border-bottom: 2px solid #777;
}
.mo_side_lang .lang::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: top;
    margin-left: 16px;
    margin-top: 6px;
    border-bottom: 2px solid #666;
    border-left: 2px solid #666;
    transform: rotate(-45deg);
}
.langList{
    display: none;
}
.mo_side_close{
    width: 34px;
    height: 34px;
    margin-top: 10px;
}

.mo_side_close p{
    font-size: 34px;
    cursor: pointer;
}
.mo_side_login{
    display: flex;
    justify-content: space-between;padding-bottom: 10px;
    margin-bottom: 10px;
}
.mo_side_login .login a{
    font-size: 26px;
    font-weight: 500;
    color: #222;
}
.mo_side_login > div:last-child{
    display: flex;
}
.mo_side_login > div:last-child p{
    margin-left: 10px;
}
.mo_side_login > div:last-child p a{
    color: #222;
    font-size: 18px;
}
.mo_side_quick{
    padding: 10px 0;
    margin-bottom: 20px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    background-color: #eee;
}
.mo_side_quick > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 6px;
}
.mo_side_quick > ul > li{
    width: 48%;
}
.mo_side_quick > ul > li a{
    display: block;
    padding: 10px 0;
    font-size: 13px;
    letter-spacing: -1px;
    color: #222;
}
.mo_side_quick > ul > li a span{
    margin-right: 8px;
    font-size: 24px;
}

/* 모바일 사이드 gnb */
.mo_side_gnb > ul > li{
    margin-bottom: 20px;
}
.mo_side_gnb .d1{
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}
.mo_side_gnb .d1 > a {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 16px 0;
    font-size: 22px;
    font-weight: 500;
    color: #333;
}
.mo_side_gnb .d1 .a1::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: top;
    margin-left: 16px;
    margin-top: 4px;
    margin-right: 6px;
    border-bottom: 2px solid #666;
    border-left: 2px solid #666;
    transform: rotate(-45deg);
}
.mo_side_gnb .d1 .a1.active::after{
    margin-top: 10px;
    transform: rotate(135deg);
}
.mo_side_gnb .d2{
    display: none;
}
.mo_side_gnb .d2 a{
    display: block;
    padding: 12px 0;
    font-size: 15px;
    color: #666;
}
/* 모바일 본문1 */
.main1{
    position: relative;
    margin-bottom: 60px;
}
.msPhoto{
    width: 100%;
}
.msPhoto .pc{
    display: none;
}
.msPhoto p{
    overflow: hidden;
}
.msPhoto .mo{
    box-sizing: border-box;
    padding: 0 20px;
}
.msPhoto > p > img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}
.arrow p{
    position: absolute;
    top: 46%;
    width: 50px;
    height: 60px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.3);
}
.ms_next{
    right: 30px;
}
.ms_prev{
    left: 30px;
}
.arrow p::before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 14px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.ms_next::before{
    transform: rotate(-45deg);
}
.ms_prev::before{
    transform: rotate(135deg);
    margin-left: 16px;
}
.ms_btn{
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: flex;
    align-items: center;
    margin-left: -90px;
    z-index: 100;
}
.msdots .slick-dots{
    display: flex;
}
.msdots .slick-dots{
    display: flex;
    justify-content: center;
    z-index: 10;
}
.msdots .slick-dots li{
    margin: 0 8px;
}
.msdots .slick-dots li button{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-indent: -9999px;
    background-color: #fff;
    border: 2px solid #333;
}
.msdots .slick-dots .slick-active button{
    background-color: #3301e9;
    border-color: #333;
}
.ms_btn .play, .ms_btn .stop{
    display: inline-block;
    width: 38px;
    height: 34px;
    margin-left: 6px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
.ms_btn .play{
    display: none;
}
.ms_btn .play::before{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 16px solid #fff;
    border-right: 12px solid transparent; 
    border-left: 12px solid transparent; 
    transform: rotate(90deg);
    margin-top: 8px;
    margin-left: 10px;
}
.ms_btn .stop{
    display: flex;
    align-items: center;
    margin-left: 6px;
}
.ms_btn .stop::before, .ms_btn .stop::after{
    content: ""; 
    display: inline-block;
    width: 3px;
    height: 22px;
    margin-top: 2px;
    margin-left: 6px;
    background-color: #fff;
}
.ms_btn .stop::before{
    margin-left: 14px;
}

/* 모바일 본문2 */
.main2{
    margin-bottom: 90px;
}
.m2txt{
    margin-bottom: 24px;
    padding-right: 20px;
}
.m21{
    margin-bottom: 30px;
}
.m21txt, .m22txt{
    margin-left: 25px;
}
.m21txt p, .m22txt p{
    font-size: 15px;
    margin-bottom: 10px;
}
.time1, .time2{
    display: flex;
    justify-content: space-between;
}
.m2txt h3{
    margin-bottom: 14px;
    font-size: 20px;
    padding-left: 20px;
}
.m2Btn{
    display: flex;
    padding-right: 20px;
}
.m2Btn p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-weight: 500;
    line-height: 3;
}
.m2Btn .btnBl{
    margin-left: 20px;
    background-color: black;
    color: #fff;
}
.m2Btn .btnWh{
    margin-left: 10px;
    background-color: transparent;
    color: #222;
    border: 1px solid #222;
}
.m2Bold{
    font-size: 16px;
    font-weight: 600;
}

/* 모바일 본문3 */
.main3{
    margin-bottom: 40px;
}
.titlePager{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.mainTitle{
    padding-left: 20px;
    font-size: 30px;
}
.main3 .mainTitle{
    margin-bottom: 0;
}
.mainPager{ 
    display: flex;
    align-items: center;
    padding-right: 20px;
    line-height: 40px;
}
.mainPager .prev, .mainPager .next{
    width: 20px;
    height: 20px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.mainPager p{
    margin-left: 2px;
}
.mainPager .prev{
    background-image: url(../img/arrow_back_ios.png);
}
.mainPager .next{
    background-image: url(../img/arrow_forward_ios.png);
}

.main3 .play, .main3 .stop{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-left: 2px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
}
.main3 .play{
    display: none;
}
.main3 .play::before{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 14px solid #fff;
    border-right: 8px solid transparent; 
    border-left: 8px solid transparent; 
    transform: rotate(90deg);
    margin-bottom: 5px;
    margin-left: 7px;
}
.main3 .stop{
    display: flex;
    align-items: center;
}
.main3 .stop::before, .main3 .stop::after{
    content: ""; 
    display: inline-block;
    width: 2px;
    height:14px;
    margin-left: 6px;
    background-color: #fff;
}
.main3 .stop::before{
    margin-left: 8px;
}




.listLeft, .list03, .list04, .list05{
    display: none;
}
.m3List{
    padding-right: 20px;
}
.webList{
    display: none;
}
.listPhoto{
    padding-left: 20px;
    margin-bottom: 8px;
    border-radius: 20px;
    overflow: hidden;
}
.listPhoto img{
    width: 100%;
    height: 100%;
    border-radius: 26px;
    object-fit: cover;
}
.m3txt{
    text-align: center;
    margin-left: 10px;
}
.m3tag{
    margin-bottom: 10px;
}
.bl, .wh, .wh_pur, .pur{
    padding: 0 8px 2px 8px;
    border-radius: 4px;
    font-size: 11px;
}
.bl{
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
}
.wh{
    border: 1px solid #333;
    font-weight: 500;
    color: #222;
}
.pur{
    border: 1px solid #4119d1;
    background-color: #4119d1;
    color: #fff;
}
.wh_pur{
    border: 1px solid #4119d1;
    font-weight: 500;
    color: #3301e9;
}
.listname{ 
    margin-left: 20px;
    margin-bottom: 6px;
    font-weight: 600;
    color: #333;
}
.date{
    font-size: 12px;
    color: #666;
}

/* 모바일 본문4 */
.main4{
    margin-bottom: 80px;
}
.main4 .mainTitle{
    font-weight: 700;
    padding: 0;
    margin-bottom: 30px;
}
.m4Bn, .m4Edu{
    padding: 0 20px;
}
.m4Edu .eduPhoto{
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}
.m4Edu .eduPhoto p{
    border-radius: 30px;
}
.m4Bn{
    margin-bottom: 80px;
}
.m4Bn p{
    border-radius: 50px;
    overflow: hidden;
}
.m4Bn .bn2, .m4Edu .pc{
    display: none;
}
.main4 img{
    width: 100%;
    object-fit: cover;
}

/* 모바일 본문5 - 알립니다 */
.main5{
    margin-bottom: 80px;
}
.m51{
    margin-bottom: 80px;
}
.main5 .mainTitle{
    margin-bottom: 20px;
    line-height: 1em;
}
.m51 span{
    font-size: 36px;
    vertical-align: top;
}
.noti{
    margin: 0 20px;
}
.m51Cate{
    margin-bottom: 10px;
}
.m51Cate ul{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    line-height: 2.2em
}
.m51Cate .cate.active{
    border-bottom: 4px solid #222;
}
.m51Cate .more{
    display: none;
}
.more a{
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -99999px;
    background-image: url(../img/add_box.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.m51List ul{
    display: flex;
    flex-direction: column;
}
.m51List li{
    margin-bottom: 10px;
}
.m51List a{
    display: flex;
    justify-content: space-between;
    color: #333;
}
.m51List li a .listTitle{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.m51List a .date{
    margin-left: 16px;
    color: #666;
}

/*  모바일 본문5 - 행사 */
.m5Event{
    margin-left: 20px;
}
.m5Event p{
    border-radius: 20px;
    overflow: hidden;
    margin-right: 20px;
}
.m5Event img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.eventMore{
    display: none;
}
/* 모바일 본문6 */
.main6{
    margin-bottom: 80px;
}
.main6 .box1{
    display: flex;
    align-items: center;
}
.main6 .mainTitle{
    font-size: 29px;
    margin-right: 6px;
}
.main6 .more a{
    width: 24px;
    height: 24px;
}

.main6 .play, .main6 .stop{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-left: 2px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
}
.main6 .play{
    display: none;
}
.main6 .play::before{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 14px solid #fff;
    border-right: 8px solid transparent; 
    border-left: 8px solid transparent; 
    transform: rotate(90deg);
    margin-bottom: 5px;
    margin-left: 7px;
}
.main6 .stop{
    display: flex;
    align-items: center;
}

.main6 .stop::before, .main6 .stop::after{
    content: ""; 
    display: inline-block;
    width: 2px;
    height:14px;
    margin-left: 6px;
    background-color: #fff;
}
.main6 .stop::before{
    margin-left: 8px;
}


/* 모바일 푸터 */
#footer{
    padding-top: 60px;
    border-top: 1px solid #ccc;;
}
.f_gnb, .f_quick1, .f_policy{
    display: none;
}
.f_otherSite{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 40px;
    padding: 0 20px;
}
.f_otherSite.pc{
    display: none;
}
.f_otherSite > p{
    display: inline-block;
    padding-right: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    background-image: url(../img/add_box.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: right 6px center;
    line-height: 2em;
    border-bottom: 2px solid #777;
}
.f_quick2{
    margin-bottom: 80px;
    padding: 0 20px;
}
.f_quick2 > div{
    margin-bottom: 30px;
}
.f_quick2 h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    line-height: 2em;
    font-size: 15px;
    color: #a0a0a0;
    border-bottom: 2px solid #ccc;
}
.f_quick2 h3::after{
    display: inline-block;
    content : "";
    width : 10px;
    height : 10px;
    margin-right: 10px;
    transform: rotate(-45deg);
    border-bottom: 2px solid #a0a0a0;
    border-right: 2px solid #a0a0a0;
}
.fb2{
    padding: 40px 20px 0 20px;
    border-top: 1px solid #ccc;
}
.f_sns{
    display: flex;
    justify-content: center;
    vertical-align: top;
    margin-bottom: 20px;
}
.f_sns p{
    width: 36px;
    height: 36px;
    margin: 6px 0 0 10px;
    text-indent: -99999px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.f_sns .twit{
    background-image: url(../img/twit.png);
}

.f_sns .face{
    background-image: url(../img/facebook.png);
}

.f_sns .insta{
    background-image: url(../img/insta.png);
}

.f_sns .youtube{
    margin-top: 8px;
    background-image: url(../img/youtube.png);
}

.f_sns .audio{
    margin-top: 0;
    background-image: url(../img/headphone_line.png);
}
.f_info{
    margin-bottom: 40px;
    text-align: center;
}
.f_info p{
    margin-bottom: 6px;
    font-size: 12px;
}
.f_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.f_logo p{
    margin: 0 0 0 20px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-indent: -99999px;
}
.f_logo .fl1{
    width: 95px;
    height: 65px;
    background-image: url(../img/f_logo.png);
}
.f_logo .fl2{
    width: 120px;
    height: 50px;
    background-image: url(../img/logo_open.png);
}



/* 768 시작 */
@media screen and (min-width:768px){
    /*  768 최상단 */
    #topBn{
        max-height: 200px;
    }
    .tbImg .mo{
        display: none;
    }
    .tbImg .pc{
        display: block;
    }
    .tbImg .pc img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-height: 100px;
    }
    .tbClose{
        bottom: 0;
        right: 0;
        align-items: end;
    }
    .tbClose .check{
        margin-bottom: 6px;
    }
    /* 768 본문1  */
    .main1{
        margin-bottom: 60px;
    }
    .msPhoto .mo{
        display: none;
    }
    .msPhoto .pc{
        display: block;
        padding: 0 25px;
    }
    /* 768 본문2 */
    .main2{
        margin-bottom: 80px;
    }
    .m2In{
        display: flex;
        justify-content: space-between;
    }
    .m2Btn{
        width: 30%;
    }
    .main2 h3{
        width: 200px;
        padding-left: 25px;
    }
    .m21, .m22{
        display: flex;
        justify-content: space-between;
    }
    .m21txt, .m22txt{
        min-width: 300px;
    }
    .main2 .m2Btn{
        padding-right: 25px;
    }
    .m2Btn p{
        box-sizing: border-box;
        border-radius: 10px;
        height: 40%;
    }
    .m2Btn .btnWh{
        margin-left: 14px;
    }
    /* 768 본문3 */
    .main3{
        margin-bottom: 100px;
    }
    .mainPager{
        display: none;
    }
    .mainTitle{
        padding-left: 25px;
        font-size: 42px;
        line-height: 1.4em;
    }
    .mainList ul{
        padding: 0 0 0 25px;
    }
    .mainList li{
        padding: 0 25px 0 0;
    }

    .m3List{
        display: flex;
        justify-content: space-between;
    }
    .slickList{
        display: none;
    }
    .listLeft{
        width: 45%;
    }
    .webList{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    .webList > div{
        box-sizing: border-box;
        padding: 0 5px;
        width: 49%;
        margin-bottom: 20px;
    }
    
    .listPhoto img{
        width: 100%;
        height: 100%;
        border-radius: 26px;
        object-fit: cover;
    }
    .m3txt{
        text-align: center;
    }
    .list01{
        display: none;
    }
    .listLeft, .list03, .list04, .list05{
        display: block;
    }
    .listLeft{
        box-sizing: border-box;
        width: 54%;
        height: 100%;
    }
    .listLeft .m3txt{
        display: none;
    }
    /* 768 본문4 */
    
    .m4Bn .bn2{
        display: block;
        margin-top: 20px;
    }
    /* 768 본문5 */
    .m51 h2 span{
        font-size: 40px;
    }
    .m5Event{
        display: flex;
        margin-left: 25px;
    }
    .m5Event p{
        width: 50%;
        margin-right: 25px;
    }
    .eventMore{
        display: block;
    }
    /* 768 본문6 */
    .main6{
        margin-bottom: 90px;
    }
    .main6 .more{
        line-height: 1.6em;
    }

    .mainList{
        display: flex;
        flex-wrap: wrap;
        padding-right: 20px;
    }
    .mainList > div{
        box-sizing: border-box;
        width: 50%;
        padding-left: 20px;
        margin-bottom: 20px;
    }


    /* 768 푸터 */
    .f_gnb{
        display: block;
        margin-bottom: 20px;
    }
    .f_gnb > ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 25px;
    }
    .f_gnb > ul > .d1{
        box-sizing: border-box;
        width: 25%;
        margin-bottom: 40px;
    }
    .f_gnb .d1 > a{
        display: block;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
    }
    .f_gnb a{
        color: #333;
    }
    .d2 > ul{
        display: flex;
        flex-direction: column;
    }
    .d2 > ul > li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-bottom: 18px;
        border-bottom: 1px solid #ccc;
    }
    .d2 > ul > li:after{
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        margin-right: 4px;
        border-right: 2px solid #bbb;
        border-bottom: 2px solid #bbb;
        transform: rotate(45deg);
    }
    .d2 > ul > li > a{
        display: block;
        color: #666;
        line-height: 2em;
    }
    .f_bottom{
        position: relative;
        padding-top: 50px;
    }
    .f_line{
        border-top: 1px solid #ccc;
    }
    .f_quick1, .f_policy, .f_gnb{
        display: block;
    }
    .f_otherSite.mobile{
        display: none;
    }
    .f_otherSite.pc{
        display: flex;
        width: 45%;
        padding: 0 0 0 25px;
    }
    .fb1{
        display: flex;
        justify-content: space-between;
    }
    .fq{
        width: 45%;
    }
    .f_quick1{
        margin-bottom: 40px;
    }
    .f_quick1 p{
        font-size:  16px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .f_quick1 p:hover{
        text-decoration: underline;
    }
    .f_quick2 p{
        margin-bottom: 10px;
    }
    .f_quick2{
        padding: 0 25px 0 0;
    }
    .fb2{
        display: flex;
        justify-content: space-between;
        padding: 40px 25px 0 25px;
    }
    .f_policy p{
        margin-bottom: 10px;
    }
    .f_policy a{
        color: #333;
    }
    .f_policy p:first-child a{
        color: #333;
        font-weight: 600;
    }
    .f_info{
        text-align: right;
    }
    .f_sns{
        justify-content: right;
    }
    .f_sns p{
        width: 36px;
        height: 36px;
        margin: 6px 0 0 10px;
        text-indent: -99999px;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .f_logo{
        justify-content: right;
    }
}/* 768 끝 */


@media screen and (min-width:1024px){
    /* 1024 상단배너 */
    /* 1024 헤더 */
    #header{
        height: 100px;
        padding-top: 20px;
    }
    .h_logo a{
        width: 208px;
        height: 55px;
        background-position: center;
        object-fit: cover;
    }
    .allMenu{
        display: none;
    }
    .head1{
        align-items: flex-end; 
    }
    .h1_right{
        width: 780px;
        padding: 0 0 0 20px;
    }
    .gnb > div{
        display: flex;
    }
    .gnb_in > div{
        margin: 0 10px;
    }
    .gnb_in > div a{
        text-wrap: nowrap;
        color: #333;
        font-size: 16px;
        font-weight: 500;
    }
    .member{
        display: flex;
    }
    .member a{
        text-wrap: nowrap;
        color: #333;
        margin-left: 16px;
    }
    .h_search p{
        font-size: 26px;
    }
    .subgnb{ 
        background-color: aqua;
        position: relative;
        display: flex;
        justify-content: right;
    }
    .submenu{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding-right: 25px;
    }
    .submenu > div{
        margin-left: 16px;
    }
    .submenu > div > a{
        color: #333;
        font-size: 13px;
    }
    .h_sns{
        display: flex;
        justify-content: right;
    }
    .h_sns p{
        width: 26px;
        height: 26px;
        margin-left: 10px;
        text-indent: -9999px;
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
    }
    .h_sns .twit{
        background-image: url(../img/twit.png);
    }
    .h_sns .face{
        background-image: url(../img/facebook.png);
    }
    .h_sns .insta{
        background-image: url(../img/insta.png);
    }
    .h_sns .you{
        background-image: url(../img/youtube.png);
        background-position: center top 1px;
    }
    .h_sns .cs{
        background-image: url(../img/service.png);
    }

    #mo_side{
        display: none;
    }
    /* 1024 본문1 */

    /* 1024 본문2 */
    .main2{
        margin-bottom: 100px;
    }
    .m2txt{
        display: flex;
        width: 70%;
        justify-content: space-between;
    }
    .m2txt > div{
        display: block;
        padding-left: 25px;
        width: 40%;
    }
    .m2txt h3{
        width: 100%;
        padding: 0;
        margin-bottom: 26px;
        font-size: 24px;
    }
    .m21txt, .m22txt{
        padding-left: 6px;
    }
    .m21txt p, .m22txt p, .time3{
        font-size: 16px;
    }
    .m2Btn{
        width: 25%;
    }
    .m2Btn p{
        height: 60%;
        font-size: 18px;
    }

    /* 1024 본문3 */
    .main3{
        margin-bottom: 120px;
    }
    .mainTitle{
        font-size: 46px;
        line-height: 1em;
    }
  
    /* 1024 본문4 */
    .main4{
        margin-bottom: 120px;
    }
    .main4 .mainTitle{
        text-align: center;
    }
    .m4Bn p{
        max-height: 300px;
    }
    .m4Bn .bn2{
        display: block;
        margin-top: 25px;
    }

    /* 1024 본문5 */
    .main5{
        margin-bottom: 120px;
    }
    .m5In{
        display: flex;
        justify-content: space-between;
    }
    .main5 .mainTitle{
        margin-bottom: 50px;
        line-height: 1em;
    }
    .m51{
        box-sizing: border-box;
        width: 45%;
        margin-bottom: 0;
    }
    .m51 h2 span{
        font-size: 46px;
    }
    .m51Cate{
        margin-bottom: 30px;
        font-size: 18px;
    }
    .m51Cate .more{
        display: block;
    }
    .m51List{
        font-size: 16px;
    }
    .m51List .date{
        font-size: 14px;
    }
    .m52{
        box-sizing: border-box;
        width: 50%;
        margin-left: 25px;
    }
    .m52 h2{
        text-align: center;
    }
    /* 1024 본문6 */
    .main6{
        margin-bottom: 120px;
    }
    .main6 .mainTitle{
        font-size: 46px;
        margin-right: 8px;
    }
    .main6 .more a{
        width: 40px;
        height: 40px;
    }
    .listLeft .m6txt{
        font-size: 18px;
        line-height: 2em;
    }
    .mainList .listLeft{
        width: 50%;
    }
    /* 1024 푸터 */
    .f_gnb ul .d1{
        width: 12.5%;
        letter-spacing: -5%;
    }
    .f_gnb .d2 a{
        font-size: 13px;
        margin-right: 10px;
    }
    .f_bottom{
        display: flex;
        justify-content: space-between;
    }
    .fb1{
        width: 50%;
    }
    .fb2{
        width: 43%;
        border-top: transparent;
        padding: 0 25px 0 0;
    }
    .f_otherSite.pc{
        width: 40%;
    }
    .fq{
        width: 45%;
    }
    .f_quick2 > div{
        margin-bottom: 20px;
    }
    .f_policy p{
        margin-bottom: 20px;
    }
    .f_policy, .f_icon{
        width: 45%;
    }
    .f_quick1 p{
        font-size:  16px;
    }
    .f_sns{
        margin-bottom: 50px;
    }
    .f_sns p{
        width: 40px;
        height: 40px;
    }
    .f_info{
        margin-bottom: 50px;
    }
    .f_logo .fl1{
        width: 120px;
        height: 80px;
    }
    .f_logo .fl2{
        width: 140px;
        height: 60px;
    }
}/* 1024 끝 */

/* 1600 시작 */
@media screen and (min-width:1600px){
    /*  1600 최상단 */
    .topBnIn{
        width: 1600px;
        margin: 0 auto;
    }
    /*  1600 헤더 */
    #header{
        height: 100px;
        max-width: 1650px;
        margin: 0 auto;
    }
    /* 1600 본문1 */
    .main1{
        max-width: 1650px;
        margin: 0 auto;
        margin-bottom: 100px;
        overflow: hidden;
    }
    /* 1600 본문2 */
    .m2In{
        max-width: 1650px;
        margin: 0 auto;
    }
    /* 1600 본문3 */
    .m3In{
        max-width: 1650px;
        margin: 0 auto;
    }
    /* 1600 본문4 */
    .m4In{
        max-width: 1650px;
        margin: 0 auto;
    }
    .m4In{
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }
    .m4Bn{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        padding: 0 0 0 25px;
        margin: 0;
    }
    .m4Bn p{
        height: 200px;
    }
    .m4Edu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        padding: 0 25px;
    }
    .m4Edu .mo{
        display: none;
    }
    .m4Edu .pc{
        display: block;
        height: 400px;
    }
    .m4Edu .pc img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* 1600 본문5 */
    .m5In{
        max-width: 1650px;
        margin: 0 auto;
    }
    /* 1600 본문6 */
    .m6In{
        max-width: 1650px;
        margin: 0 auto;
    }
    /* 1600 푸터 */
    .f_gnb, .f_bottom{
        max-width: 1650px;
        margin: 0 auto;
    }



}    /*   1600 끝  */